# Intro to Series in Pandas!

In [1]:
import numpy as np
import pandas as pd

In [3]:
myindex = ['USA', 'Canada', 'Mexico']
mydata = [1776, 1867, 1821]

In [6]:
myser = pd.Series(data=mydata, index=myindex)

In [7]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [13]:
myser[1], myser['Canada']

(1867, 1867)

In [14]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}

In [15]:
dogages = pd.Series(ages)

In [16]:
dogages

Sam       5
Frank    10
Spike     7
dtype: int64

In [17]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [18]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [19]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [20]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [21]:
sales_q2.keys()

Index(['Brazil', 'China', 'India', 'USA'], dtype='object')

In [22]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [24]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [26]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64